---
name: Build

'on':
  workflow_call:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup NodeJS environment
        uses: actions/setup-node@v6
        with:
          node-version-file: 'package.json'
          cache: 'npm'
          cache-dependency-path: 'package-lock.json'

      - name: Fetch dependecies
        run: npm clean-install

      - name: Build
        env:
          PUBLIC_URL: .
        run: npm run build

      - name: Upload artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          path: dist
          name: dist

  pull-request-data:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - name: Create pull request data
        run: |
          mkdir pull_request
          echo ${{ github.event.pull_request.number }} > ./pull_request/number
      - name: Upload pull request data
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          path: .
          name: pull-request-data
